@page "/ProdutosPages/ProdutosList"
@using Blazor.WebApp.Models
@inject HttpClient Http
@inject IJSRuntime js
<a class="btn btn-info" href="/produtospages/add">Criar Novo</a>

<h3>Lista de Produtos</h3>

@if(Produtos==null)
{
    <p><em> Loading...  </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var produtos in Produtos)
            {
                <tr>
                    <td>@produtos.Nome</td>
                    <td>@produtos.Tipo</td>
                    <td>
                        <a href="/produtospages/edit/@produtos.Id">Editar</a>
                        <a class="text-danger" @onclick="(()=>Delete(produtos.Id))">Deletar</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public List<Produtos> Produtos { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Produtos = await Http.GetFromJsonAsync<List<Produtos>>("https://localhost:7285/api/Produtos/GetAllAdd");
    }

    public async Task Delete(int Id)
    {
        bool isConfirm = await js.InvokeAsync<bool>("confirm", "Deseja realmente deletar este produto?");
        if (isConfirm)
        {
            await Http.DeleteAsync("https://localhost:7285/api/Produtos/Delete?=" + Id);
            //await OnInitializedAsync();
            Produtos = Produtos.Where(c => c.Id != Id).ToList();

        }
    }
}
