<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produtospages/add">
                <span class="oi oi-plus" aria-hidden="true"></span>  Adcionar Produtos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produtospages/produtoslist">
                @*<span class="oi oi-list-rich" aria-hidden="true"></span>  Listar Produtos   ref icon:https://kordamp.org/ikonli/cheat-sheet-openiconic.html*@
                <span class="oi oi-spreadsheet" aria-hidden="true"></span>  Listar Produtos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produtospages/Edit">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>  Editar Produto
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
